
.ipynb_checkpoints/EDA-project-blog-sandra-paredes-checkpoint.ipynb
.ipynb_checkpoints/EDA-project-code-sandra-paredes-checkpoint.ipynb
.ipynb_checkpoints/EDA-project-mvp-checkpoint.ipynb
.ipynb_checkpoints/regression-project-mvp-checkpoint.ipynb
